@{
    ViewBag.Title = "About";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ol>
<body style="margin: 0">
    <div class="jumbotron" style="margin-bottom: 0">
        <div class="container-fluid">
            <h1>About</h1>
            <p class="lead">What we're all about.</p>
        </div>
    </div>
    <div class="container">
        <div class="col-md-6">
            <img class="img-responsive" src="~/Content/Images/info.jpg" />
        </div>
        <div class="col-md-6" style="padding-top: 15%">
            <h1>What We Do</h1>
            <h3>
                We are here to help future missionaries find the best information about their missions. We go out there
                and find all the facts for you so you don't have to. We do this so everyone can have a basic idea of what their
                mission is going to be like.
            </h3>
        </div>
    </div>
    <div class="container">
    <div class="col-md-6" style="padding-top: 15%">
        <h1>This is what it's all about</h1>
        <h3>
            Missions are the best! Even though each mission has a different mission president and different climate, 
            it's all about serving the Lord! And we want to see the users of this site sharing their experiences with
            everyone else. That way, we can get everyone excited about serving a mission!
        </h3>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="~/Content/Images/kory.jpg" />
    </div>
    </div>

</body>
