@{
    ViewBag.Title = "About";
}


<body id="AboutPage">

    <!-- Intro Header -->
    <header id="aboutHeader" class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">BYUstartup</h1>
                        <p class="intro-text"> We Start Up Your Start Up! </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

</body>
