@{
    ViewBag.Title = "About";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ol>
<body style="margin: 0">
    <div class="jumbotron" style="margin-bottom: 0">
        <div class="container-fluid">
            <h1>About</h1>
            <p class="lead">What we're all about.</p>
        </div>
    </div>
        <div class="container-fluid" style="background-color: #4388DD">
            <h2>What we do</h2>
            <p>
                Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
                source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
            </p>
            <p>
                Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
                source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
            </p>
            <p>
                Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
                source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
            </p>
        </div>  
    <div class="container-fluid" style="background-color: #54692E">
        <h2>What we do</h2>
        <p>
            Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
            source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
        </p>
        <p>
            Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
            source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
        </p>
        <p>
            Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
            source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
        </p>
    </div> 

</body>
