@{
    ViewBag.Title = "Home Page";
}

<body id="LandingPage">

    <div id="LandJumbo" class="jumbotron">
        <h1>Prepare to Serve</h1>
        <p class="lead">Need the facts? Take a look at what return missionaries have said about your mission. </p>
        <p>@Html.ActionLink("View My Mission", "Index", "Mission", null, new { @class="btn btn-primary btn-lg "}) </p>
    </div>

</body>


