@{
    ViewBag.Title = "Home Page";
}

<body id="LandingPage">

    <div id="LandJumbo" class="jumbotron">
        <h1>LDS Mission Home</h1>
        <p class="lead">Need to look up teaching materials and curriculum? Click the button below!</p>
        <p><a href="https://sites.google.com/a/mtc.byu.edu/mtc-training-department/" class="btn btn-primary btn-lg">MTC G Suite &raquo;</a></p>
    </div>

</body>


