
@{
    ViewBag.Title = "Login";
}

<h2 class="text-center">Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
{
    <h4 class="form-signin-heading">Please enter your login information</h4>
    <label for="inputUsername" class="sr-only">Username</label>
    @Html.TextBox("Email", "", new { type = "text", id = "inputEmail", @class = "form-control", placeholder = "Email", required = true, autofocus = true })
    <label for="inputPassword" class="sr-only">Password</label>
    @Html.Password("Password", "", new { type = "password", id = "inputPassword", @class = "form-control", placeholder = "Password", required = true })
    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
}