
@{
    ViewBag.Title = "Missions";
}

<h2>Missions</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Missions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Colombia Bogota North</a></li>
                    <li><a href="#">Brasil Belen</a></li>
                    <li><a href="#">Brasil Curitiba</a></li>
                </ul>
            </div>

        </div>

    </div>
</div>